<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
  	<file>githubuserskills.log</file>
  	<append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="tracerfile" class="ch.qos.logback.core.FileAppender">
  	<file>tracedata.log</file>
  	<append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="console" level="INFO">
  	<appender-ref ref="consoleAppender" />
    <appender-ref ref="file" />
  </logger>

  <logger level="info" name="edu.uci.ics.githubuserskills">
  	<appender-ref ref="STDOUT" />
    <appender-ref ref="file" />
  </logger>
  
  <logger level="info" name="trace">
    <appender-ref ref="tracerfile" />
  </logger>

  <root level="error">
    <appender-ref ref="file" />
  </root>
</configuration>